= simple_form_for nominee, url: [nominee.poll, nominee] do |f|
  = f.input :name, required: true
  = f.input :description, as: :text, required: false, hint: '(Optional)'
  = f.button :submit, class: 'ui primary button'
  = link_to 'Cancel', root_path, class: 'ui basic button'
