= render 'title_and_subnavigation', poll: @poll

.poll-state.my-10
  .flex.py-3.px-5{ class: "poll-state-#{@poll.state}" }
    .tracking-wider.uppercase.align-middle{ class: 'w-1/2' }= @poll.state
    .text-right{ class: 'w-1/2' }
      - if !@poll.user.verified?
        In order to publish this poll you need to verify your email first.
      - elsif @poll.publishable?
        = render 'admin/polls/publishment/form', form: Admin::PollPublishmentForm.new(@poll)
      - elsif @poll.startable?
        = render 'admin/polls/start/form', form: Admin::PollStartForm.new(@poll)
      - elsif @poll.closable?
        = render 'admin/polls/closing/form', form: Admin::PollClosingForm.new(@poll)
      - elsif @poll.archivable?
        = render 'admin/polls/archiving/form', form: Admin::PollArchivingForm.new(@poll)

.information-section.my-16
  .flex
    .w-full
      %h2.border-0.border-gray-200.border-b.text-gray-600 General
      .pt-5.px-2
        .flex.-mx-2
          .text-gray-500.pr-2.pt-4{ class: 'w-1/3' }
            = raw "Information can no longer be changed as soon as the poll #{colorize_text('starts', :started)}."
          %div.pl-2{ class: 'w-2/3' }= render 'form', form: PollForm.new(@poll, @poll.slice(:title, :description))




.delete-section.my-16
  %h2.border-0.border-gray-200.border-b.text-red-700 Delete poll
  .pt-5.px-2
    .flex.-mx-2
      - if @poll.deletable?
        .text-gray-500.pr-2{ class: 'w-1/3' }
          This action cannot be undone.
        .pl-2.text-right{ class: 'w-2/3' }= render 'admin/polls/deletion/form', form: Admin::PollDeletionForm.new(@poll)
      - else
        .text-gray-500
          = raw "This poll can no longer be delete since it has been #{colorize_text('started', :started)}."
          = raw "You may archive the poll after it is #{colorize_text('closed', :closed)}."

