- cancel_path = form.poll.new_record? ? root_path : poll_path(form.poll)

= simple_form_for form do |f|
  .my-8
    .my-3= f.input :title, required: true

    - if form.poll.new_record?
      .my-3= f.input :email, required: true

    .my-3= f.input :description, as: :text, required: false, hint: '(Optional)'

  .my-8
    = f.button :submit, class: 'apollo-pink-button'
    = link_to 'Cancel', cancel_path, class: 'shy-link'

