- hide_elements = hide if defined?(hide)
- cancel_path = poll.new_record? ? root_path : poll_path(poll)

= simple_form_for poll do |f|
  = f.input :title, required: true

  - unless hide_elements&.include?(:email)
    = f.input :email, required: true

  = f.input :description, as: :text, required: false, hint: '(Optional)'
  = f.button :submit
  = link_to 'Cancel', cancel_path

