- hide_elements = hide if defined?(hide)
= simple_form_for poll do |f|
  = f.input :title, required: true

  - unless hide_elements&.include?(:email)
    = f.input :email, required: true

  = f.input :description, as: :text, required: false, hint: '(Optional)'
  = f.button :submit, class: 'ui primary button'
  = link_to 'Cancel', root_path, class: 'ui basic button'

