= simple_form_for form do |f|
  .flex.mb-5
    .w-full= f.input :title, required: true

  - if form.poll.new_record?
    .flex.mb-5
      .w-full= f.input :email, required: true

  .flex.mb-5
    .w-full= f.input :description, as: :text, required: false, hint: '(Optional)'

  .flex.mb-5
    .w-full.text-right
      = f.button :submit, class: 'apollo-pink-button'
      - if form.poll.new_record?
        = link_to 'Cancel', root_path, class: 'shy-link'

