.flex
  .mb-10= link_to 'Back to poll', poll_path(@poll), class: 'shy-link'

%h1.mb-10 Manage poll

.information-section.my-10
  .flex
    .w-full
      %h2.border-0.border-gray-200.border-b.text-gray-600 Information
      .pt-5.px-2
        .flex.-mx-2
          .text-gray-500.pr-2.pt-4{ class: 'w-2/5' }
            = raw "Information can no longer be changed as soon as the poll #{colorize_text('starts', :started)}."
          %div.pl-2{ class: 'w-3/5' }= render 'form', form: PollForm.new(@poll, @poll.slice(:title, :description))

.delete-section.my-10
  %h2.border-0.border-gray-200.border-b.text-red-700 Delete
  .pt-5.px-2
    .flex.-mx-2
      - if @poll.deletable?
        .text-gray-500.pr-2{ class: 'w-2/5' }
          This action cannot be undone.
        .pl-2.text-right{ class: 'w-3/5' }= render 'polls/deletion/form', form: PollDeletionForm.new(@poll)
      - else
        .text-gray-500
          = raw "This poll can no longer be delete since it has been #{colorize_text('started', :started)}."
          = raw "You may archive the poll after it is #{colorize_text('closed', :closed)}."

