%h1.ui.horizontal.divider.header= @poll.title

%p= @poll.description

- @poll.nominees.each do |nominee|
  .ui.segment= nominee.name

= link_to new_poll_nominee_path(@poll) do
  .ui.circular.icon.green.button= semantic_icon 'plus'
  Add nominee

.ui.divider

= link_to 'Edit', edit_poll_path(@poll), class: 'ui blue basic secondary button'
= link_to 'Delete',
  poll_path(@poll),
  class: 'ui red basic button',
  data: { confirm: 'Are you sure?'},
  method: :delete
