%h1.ui.horizontal.divider.header= @poll.title

.ui.container.center.aligned
  %p.medium.vertical-space
    %i.grey-text= @poll.description

%h2.ui.horizontal.divider.header Nominees

.ui.container.center.aligned.medium.vertical-space
  .nominees
    - @poll.nominees.each do |nominee|
      .nominee.small.vertical-space
        .ui.stacked.segments
          .ui.segment
            %h3= nominee.name
          .ui.segment.left.aligned
            %p= nominee.description
          .ui.segment
            = link_to 'Edit',
              edit_poll_nominee_path(@poll, nominee),
              class: 'ui mini basic blue button'
            = link_to 'Delete',
              poll_nominee_path(@poll, nominee),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'ui mini basic red button'

  = link_to new_poll_nominee_path(@poll) do
    .ui.circular.icon.green.button= semantic_icon 'plus'
    Add nominee

  .ui.divider.medium.vertical-space

  = link_to 'Edit poll', edit_poll_path(@poll), class: 'ui basic secondary button'
  = link_to 'Delete poll',
    poll_path(@poll),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'ui red basic button'

