.flex.mb-10
  .w-full
    = link_to 'Back to overview', home_path, class: 'shy-link'

.poll-title
  .flex
    %div{ class: 'w-1/2' }
      %h1= @poll.title
    %div{ class: 'w-1/2' }
      - if policy(@poll).manage?
        .h-full.relative
          .absolute.bottom-0.right-0
            .poll-actions
              = link_to 'Manage', manage_poll_path(@poll), class: 'shy-link'

.poll-state.my-10
  .flex.py-3.px-5{ class: "poll-state-#{@poll.state}" }
    .tracking-wider.uppercase.align-middle{ class: 'w-1/2' }= @poll.state
    - if policy(@poll).manage?
      .text-right{ class: 'w-1/2' }
        - if !@poll.user.verified?
          In order to publish this poll you need to verify your email first.
        - elsif @poll.publishable?
          = render 'polls/publishment/form', form: PollPublishmentForm.new(@poll)
        - elsif @poll.startable?
          = render 'polls/start/form', form: PollStartForm.new(@poll)
        - elsif @poll.closable?
          = render 'polls/closing/form', form: PollClosingForm.new(@poll)
        - elsif @poll.archivable?
          = render 'polls/archiving/form', form: PollArchivingForm.new(@poll)

%h2 Description

.flex.mt-5.mb-10
  .w-full.shadow-inner.bg-gray-100.py-3.px-2
    %p= @poll.description

.flex.mb-5
  %div{ class: 'w-1/2' }
    %h2 Nominees
  %div{ class: 'w-1/2' }
    - if policy(@poll).edit?
      .h-full.relative
        .absolute.bottom-0.right-0
          = link_to 'Add nominee', new_poll_nominee_path(@poll)

.nominees
  %ul
    - @poll.nominees.each do |nominee|
      %li.nominee.card.mb-10
        .flex
          %div{ class: 'w-1/3' }
          %div{ class: 'w-2/3 py-2 px-3' }
            .flex
              .w-full
                %h3= nominee.name
                %p= nominee.description
            - if policy(@poll).edit?
              .flex
                .w-full.text-right
                  = link_to 'Edit',
                    edit_poll_nominee_path(@poll, nominee),
                    class: 'shy-link'
                  = link_to 'Delete',
                    poll_nominee_path(@poll, nominee),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'shy-dangerous-link'

.flex.mb-5
  %div{ class: 'w-1/2' }
    %h2 Tokens
  %div{ class: 'w-1/2' }
    - if policy(@poll).update?
      .h-full.relative
        .absolute.bottom-0.right-0
          = link_to 'Add tokens', new_poll_token_path(@poll)

.tokens.card.mb-5
  %ul.py-4.px-3
    - @poll.tokens.each do |token|
      %li.token.py-1
        .flex
          %div{ class: 'w-1/2' }
            %pre= token.value
          %div{ class: 'w-1/2 text-right' }
            - if policy(@poll).update?
              = link_to 'Delete',
                poll_token_path(@poll, token),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'shy-dangerous-link'
