.poll-actions
  = link_to 'Edit',
    edit_poll_path(@poll),
    aria: { label: 'Edit poll' },
    title: 'Edit poll'

  = link_to 'Delete',
    poll_path(@poll),
    method: :delete,
    aria: { label: 'Delete poll' },
    data: { confirm: 'Are you sure?' },
    title: 'Delete poll'

%h1= @poll.title

%p= @poll.description

%h2 Nominees

.nominees
  %ul
    - @poll.nominees.each do |nominee|
      %li.nominee
        %h3= nominee.name
        %p= nominee.description
        = link_to 'Edit',
          edit_poll_nominee_path(@poll, nominee),
          aria: { label: 'Edit nominee' },
          title: 'Edit nominee'
        = link_to 'Delete',
          poll_nominee_path(@poll, nominee),
          method: :delete,
          aria: { label: 'Delete nominee' },
          data: { confirm: 'Are you sure?' },
          title: 'Delete nominee'

    = link_to 'Add nominee',
      new_poll_nominee_path(@poll),
      aria: { label: 'Add nominee' },
      title: 'Add nominee'

%h2 Tokens

.tokens
  %ul
    - @poll.tokens.each do |token|
      %li.token
        %pre= token.value
        = link_to 'Delete',
          poll_token_path(@poll, token),
          method: :delete,
          aria: { label: 'Delete token' },
          data: { confirm: 'Are you sure?' },
          title: 'Delete token'

  = render 'tokens/form', token: @poll.tokens.new
