%h1 Cast your vote

.nominees
  %ul
    - @poll.nominees.each do |nominee|
      %li.nominee.card.mb-10
        .flex
          %div{ class: 'w-1/3' }
          %div{ class: 'w-2/3 py-2 px-3' }
            .flex
              .w-full
                %h3= nominee.name
                %p= nominee.description
            .flex
              .w-full
                - if @token.nominee != nominee
                  = simple_form_for PollVotingForm.new(@poll, token_value: @token.value, nominee_id: nominee.id), url: poll_voting_path(@poll) do |f|
                    = f.input :token_value, as: :hidden
                    = f.input :nominee_id, as: :hidden
                    = f.submit "Vote for #{nominee.name}", class: 'w-full bg-apollo-pink-400 py-3 px-2'
                - else
                  = "You voted for #{nominee.name}."
