%h1 Cast your vote

- if @form.errors.any?
  .errors
    .flex.my-10.bg-orange-200
      .w-full.py-4.px-5
        .flex
          .w-full.pb-2.mb-4.bold.border-0.border-orange-300.border-b.text-orange-800
            Your submission was not successful
        .flex
          .w-full
            %ul
              - @form.errors.full_messages.each do |full_message|
                %li= full_message

= simple_form_for @form, url: poll_voting_path(@poll) do |f|
  = f.input :token_value, as: :hidden
  = f.input :nominee_id, as: :hidden

  .nominees
    %ul
      - @poll.nominees.each do |nominee|
        %li.nominee.card.mb-10
          .flex
            %div{ class: 'w-1/3' }
            %div{ class: 'w-1/3 py-2 px-3' }
              .flex
                .w-full
                  %h3= nominee.name
                  %p= nominee.description
            %div{ class: 'w-1/3' }
              = f.label nominee.name, for: "poll_voting_nominee_id_#{nominee.id}", class: 'hidden'
              = f.radio_button :nominee_id, nominee.id

  .flex
    .w-full.text-right
      = f.submit 'Cast vote', class: 'apollo-pink-button'
