!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Apollo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    .flex
      %div{ class: 'w-1/2 mx-auto' }
        .logo
          = link_to root_path, title: 'Go to the home page' do
            = image_tag 'apollo-logo.svg', alt: 'Apollo logo'
        = yield
        .footer
          Apollo - A poll app
