!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Apollo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .ui.text.container.center.aligned
      .massive.vertical-space
        .logo
          = link_to root_path, title: 'Go to the home page' do
            = image_tag 'apollo-logo.svg', alt: 'Apollo logo'
      = yield
      .footer
