!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Apollo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .ui.container.center.aligned
      .massive.vertical-space
        .logo
          = image_tag 'apollo768', alt: 'Apollo text logo'
    .ui.container.left.aligned
      = yield
    .ui.container.center.aligned
      .footer
